body {
  background-color: lightblue;
  cursor: auto;
}

.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 75vh;
}

.shopContainer {
  position: absolute;
  top: 20%;
  left: 27.9%;
}

.mouseHover:hover {
  cursor: pointer;
}

.shopButton:hover {
  cursor: pointer;
}

.centerText {
  text-align: center;
}

#button:hover {
  cursor: pointer
}

#Title {
  font-size: 40px;
}

#shopTitle {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  -webkit-text-stroke: 1.3px black;
}

#shopFrame {
  background-color: rgb(138, 220, 247);
  width: 850px;
  height: 600px;

  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(0, 0, 0);

  overflow-y: auto;
  overflow-x: hidden;

  visibility: hidden;
}

#ClickText {
  font-size: 25px;
}

#shopButton {
  width: 200px;
  height: 65px;
  font-size: 50px;
  color: white;
  border-radius: 10px;
  border-color: white;
  background-color: black;
}